/* HOME */
.landing{
    background-image: url('../Assets/images/Portal.png');
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
