/* HOME */
.autoSlides{
    z-index: 0;
    background-color: green;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
 
    &__slides{
        /* display: none; */
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        
        @keyframes zoom{
            from{
                transform: scale(1,1);
            } to {
                transform: scale(1.2,1.2);
            }
        }
        animation: zoom 10s linear;
        
    }
}