// MOBILE
@media only screen and (max-width:600px){
    nav{
        ul{
            width: 100%;
            height: 100%;
            float: none;
            margin: 20px auto;
            align-self: flex-start;
        }
    }
    .carousel{
        height: 10vh;
    }
}
@media only screen and (max-width:1000px){
    .pinfo{
        height: auto;
        margin: 30px auto;
        padding: 0;
    
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 0.5fr 2fr 0.5fr;
    }
    .ptitle{
        padding: 0;
        margin: 0;
        align-self: end;
    }
    .desc{
        max-width: 1000ch;
        font: normal normal 300 11px Roboto;
        margin-left: 30px;
        margin-top: 8px;
        grid-column: 1/3;
    }
    .pdate{
        font: normal normal 200 30px Roboto;
        max-width: 50px;
        margin: 0;
        justify-self: end;
        align-self: flex-start;
        grid-column: 2/3;
    }
    .slash{
        display: initial;
        font: normal normal 100 65px Roboto;
        align-self: center;
    }
    .carousel{
        max-height: 40vh;
    }
}
@media only screen and (max-width:1150px){
    #page{
        display: initial;
    }
    #profile{
        margin: auto;
        padding: 0 0 0 50px;
        justify-self: center;
    }
    #about{
        margin-top: 100px;
        margin-right: 80px;
    }
    #experience{
        width: auto;
        max-width: 580px;
        padding: 0;
        margin: auto;
        float: left;
        float: right;
    }
    #date{
        margin-left: 50px;
    }
    #academics{
        width: 700px;
        float: left;
        margin: auto;
        grid-template-columns: 22% 78%;
        grid-auto-rows: minmax(50px, auto);
    }
    #school{
        margin-top: 5px;
    }
    #date2{
        margin-left: 50px;
        line-height: 10%;
        letter-spacing: 0.2em;
        width: 60px;
        font: normal normal 300 31.5px Roboto;
        letter-spacing: 0.2em;
    }
    
}