@import'base';
@import 'navbar';
*{
    background-color: unset;
}
body{
    background-image: url('../Assets/images/Portal.png');
    background-position: center 150px;
    background-repeat: no-repeat;
    background-color: $base-color;
}
img{
    align-self: center right;
    align-items: center right;
    align-content: center right;
}

nav{
    height: 220px;
    
    h1{
        width: 180px;
        height: 95px;
        left: 221px;
        top: 59px;
    
        font: normal normal 700 48px $font-stack;
        line-height: 87.19%;
        letter-spacing: 0.31em;
        padding-left: 1em;
        float: left;
    }
    ul{
        font: normal normal 300 12px $font-stack;
        letter-spacing: 0.34em;

        li{
            padding-right: 2.5rem;
        }
    }
}
@media only screen and (max-width:600px){
    nav{ 
        ul{
            width: 100%;
            height: 100%;
            float: none;
            margin: 20px auto;
            align-self: flex-start;
        }
    }
    img{
        object-fit: cover;
        margin: auto 20px;
    }
}
