*{
    margin:0;
    padding: 0;
}
body{
    background-image: url('../images/Portal.png');
    background-position: center 150px;
    background-repeat: no-repeat;
    background-color: black;
}
.container{
    /*width: 80%;*/
    max-width: 1680px;
    margin: auto;
    overflow: hidden;
}
img{
    align-self: center right;
    align-items: center right;
    align-content: center right;
}
#navbar{
    background: black;
    color: rgb(255, 255, 255);
    height: 220px;
    margin:0;
    padding:0;

}
#navbar h1{
    width: 180px;
    height: 95px;
    left: 221px;
    top: 59px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 87.19%;
    /* or 42px */
    letter-spacing: 0.31em;

    padding-top: 55px;
    padding-left: 2em;
    float: left;
}
#navbar h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 87.19%;
    /* or 42px */
    letter-spacing: 0.31em;

    padding-top: 55px;
    padding-left: 2em;
    float: left;
}
#navbar ul{
    list-style: none;
    word-spacing: 10px;
    padding-top: 90px;
    padding-right: 4.5em;
    display: inline;
    float: right;
}
#navbar li{
    color: rgb(255, 255, 255);
    display: inline;
    padding-right: 2em;
}
#navbar a{
    color: rgb(209, 209, 209);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.34em;
}
#navbar a:hover{
    color: white;
}
@media only screen and (max-width:600px){
    #navbar ul{
        width: 100%;
        height: 100%;
        float: none;
        margin: 20px auto;
        align-self: flex-start;
    }
    img{
        object-fit: cover;
        margin: auto 20px;
    }
}
