/* ABOUT */
.light {
  font: normal normal 300 11px Roboto;
  letter-spacing: 0.25em;
  line-height: 0.25em;
}
.regular {
  font: normal normal 700 12px Roboto;
  letter-spacing: 0.3em;
  line-height: 3em;
}
.bold {
  font: normal normal 700 12px Roboto;
  letter-spacing: 0.3em;
}
#page {
  max-width: 1680px;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 4.5fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
#profile {
  height: 450px;
  width: 600px;
  grid-column: 2/4;
  grid-row: 1/3;
  margin: 250px auto 350px auto;
  padding: 0 775px 0 50px;
  #Avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 20px 0 20px 0;
    float: left;
  }
  #about {
    font: normal normal 300 11px Roboto;
    line-height: 172.19%;
    letter-spacing: 0.25em;
    height: 150px;
    width: 270px;
    padding-top: 50px;
    margin-right: 60px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #name {
    font: normal normal 700 48px Roboto;
    letter-spacing: 0.3em;
    line-height: 90%;

    height: 300px;
    width: 200px;
    padding: 25px 0px;
  }
  #social {
    a {
      opacity: 70%;
      text-decoration: none;
    }
    :hover {
      opacity: 100%;
    }

    img {
      height: 20px;
      width: 20px;
      padding: 20px 27px 0 0;
    }
  }
}
#title {
  font: normal normal bold 30px Roboto;
  letter-spacing: 0.3em;
  padding: 10px 0;
  grid-column: 1/3;
}
#experience {
  background-color: $base-color;
  height: 30vh;
  width: 600px;
  margin: 500px auto 150px auto;
  float: left;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: minmax(50px, auto);
  grid-column: 3/4;
  grid-row: 1/3;
  justify-self: end;

  p {
    color: $font-color;
    font: normal normal 300 11px Roboto;
    line-height: 160%;
    letter-spacing: 0.3em;
  }

  #date {
    font: normal normal 300 32px Roboto;
    letter-spacing: 0.2em;
    line-height: 120%;
    width: 53px;
    justify-self: end;
    grid-column: 1/2;
    word-wrap: break-word;
  }
  #info {
    grid-column: 2/3;
  }
  #company {
    font: normal normal 900 14px Roboto;
    letter-spacing: 0.3em;
    padding-top: 10px;
    line-height: 70%;
  }
  #role {
    font: normal normal 400 12px Roboto;
    letter-spacing: 0.2em;
    line-height: 200%;
  }
}
.achievements {
  height: 20vh;
  width: 500px;
  margin: 225px auto 650px auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 3/4;
  grid-row: 1/2;
  grid-auto-rows: minmax(10px, 70px);

  p {
    text-decoration: none;
    color: $font-color;
    font: normal normal 300 12px Roboto;
    line-height: 160%;
    letter-spacing: 0.3em;

    a {
      color: $font-color;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }
  #date2 {
    font: normal normal 400 20px Roboto;
    letter-spacing: 0.3em;
    line-height: 120%;
    width: 50px;
    justify-self: end;
    grid-column: 1/2;
    word-wrap: break-word;
  }
  #school {
    font: normal normal 900 14px Roboto;
    letter-spacing: 0.3em;
    padding-top: 1px;
    line-height: 160%;
  }
}
