/* GALLERY */

.gallery {
  @extend %container;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 3px;
  row-gap: 3px;
}

.overlay {
  animation: $loadIn;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

  &:hover .text {
    opacity: 1;
    z-index: 1;
  }
  &:hover .zoom {
    opacity: 0.5;
    z-index: 0;
    /* IE 9 */
    -ms-transform: scale(1.05);
    /* Safari 3-8 */
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.text {
  position: absolute;
  background: transparent;
  text-align: center;
  color: $hover-color;
  font: normal normal 400 20px Roboto;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  opacity: 0;
}
.zoom {
  transition: transform 0.2s;
  width: 850px;
  object-fit: cover;
}
#V4TOU {
  object-position: center 420px;
}
#treeWarriors {
  object-position: center 200px;
}
#resurrection {
  object-position: center -180px;
}
