// @import url("../App.css");
@import "base";
@import "navbar";
@import "home";
@import "about";
@import "gallery";
@import "projects";
@import "mobile";
* {
  background-color: $base-color;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  color: $font-color;
}
